  <!doctype html>
<html>
  <head>
    <title> INSULTRON </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  </head>
  
  <body>
   <p> <div class="wrapper">
      <a href="/quiz"> <input type="image" name="submit" value="submit" src="images/custom.png" height="175"/></a>
    </div> 
    

   <p> <div class="wrapper">
      <a href="/random_shakespeare"> <input type="image" name="submit" value="submit" src="images/shakespearerandomizer.png" height="175"/></a>
    </div> 
    
    
   <p> <div class="wrapper">
      <a href="/random_modern"> <input type="image" name="submit" value="submit" src="images/modernrandomizer.png" height="175"/></a>
    </div> 
    <br>

  </body>
</html>