<!doctype html>
<html>
  <head>
    <title> INSULTRON </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  
  
  <body>
   <div align="center">
  <div class="buttonwrap"><div class="imgtext"><input type="button" class="button" value="Renew Your Policy"/></div></div>  
   </div>
    <%= @insult %>
    <%= @modern_random %>
  </body>
</html>