<!doctype html>
<html>
  <head>
    <title> INSULTRON </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <%= @insult %>
    <%= @modern_random %>
  </body>
</html>