<!doctype html>
<html>
  <head>
    <title> INSULTRON </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  
  
  <body>
    <div class="wrapper">
      <a href="/shakespeare"><input type="image" name="submit" value="submit" src="../images/insultron.png" /></a>
    </div>
   
  
  </body>
</html>