<!doctype html>
<html>
  <head>
    <title> INSULTRON </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <h1> Enter INSULTRON </h1>
    
    
    <input type="image" value="submit" id="location" src="../public/images/insultron.png"/>

    <form action='/results' method='post'>
      <input type="text" name="your_name">
      <input type="submit">
    </form>
    
    
  </body>
</html>

<input type="image" src="../public/images/insultron.png" name="saveForm" class="btTxt submit" id="saveForm" />
