<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  </head>
 
  <body>  
    <p>Who are you insulting?</p>
  <form action='/insult' method='post'>
  <input type="text" name="your_name" height="100px">
  
    
    <p>Are they younger or older?</p>
 
  <label>
  <img src="images/476.png" height="100px"><input type="radio" name = "age" sex="How mad?" value="0">
  </label>
  <label>
  <img src="images/474.png" height="100px"><input type="radio" name = "age" sex="How mad?" value="1">
  </label>
    
    <p>How angry are you at this person?</p>
 
  <label>
  <img src="images/717.png" height="100px"><input type="radio" name = "angry" sex="How mad?" value="0">
  </label>
  <label>
  <img src="images/719.png" height="100px"><input type="radio" name = "angry" sex="How mad?" value="1">
  </label>
  <label>
  <img src="images/733.png" height="100px"><input type="radio" name = "angry" sex="How mad?" value="2">
  </label>
  <label>
  <img src="images/737.png" height="100px"><input type="radio" name = "angry" sex="How mad?" value="3">
  </label>
  <label>
  <img src="images/734.png" height="100px"><input type="radio" name = "angry" sex="How mad?" value="4">
  </label>
    
   
    <p>How scathingly would you insult this person? (5 being the most scathing remark) </p>
  
  <label>
  <img src="images/3.png" height="100px"><input type="radio" name = "scathing" sex="How mad?" value="0">
  </label>
  <label>
  <img src="images/4.png" height="100px"><input type="radio" name = "scathing" sex="How mad?" value="1">
  </label>
  <label>
  <img src="images/5.png" height="100px"><input type="radio" name = "scathing" sex="How mad?" value="2">
  </label>
  <label>
  <img src="images/6.png" height="100px"><input type="radio" name = "scathing" sex="How mad?" value="3">
  </label>
  <label>
  <img src="images/7.png" height="100px"><input type="radio" name = "scathing" sex="How mad?" value="4">
  </label>

    <p>Stranger, acquaintance, friend, or enemy?</p>
 
  <label>
  <img src="images/483.png" height="100px"><input type="radio" name = "relationship" sex="How mad?" value="0">
  </label>
  <label>
  <img src="images/462.png" height="100px"><input type="radio" name = "relationship" sex="How mad?" value="1">
  </label>
  <label>
  <img src="images/467.png" height="100px"><input type="radio" name = "relationship" sex="How mad?" value="2">
  </label>
  <label>
  <img src="images/479.png" height="100px"><input type="radio" name = "relationship" sex="How mad?" value="3">
  </label>



  
<!--     <input type="radio" sex="How mad?" value="IMAGE">Male2
  <br>
  <input type="radio" sex="How mad?" value="IMAGE2">Female2
  <br>
  <input type="radio" sex="How mad?" value="IMAGE3">baby2
  <br> -->
  
      
  <p>
    <a href="/insult"> </a> <button type="submit"  name="submit"  value="submit"> <img src="images/submit.png" height="100px"> </button>
  
  </form>
       
    <div class="wrapper">
      <a href="/choice"> <input type="image" name="submit" value="submit" src="images/goback.png" height="100"/> </a> 
    </div> 
    
    </body>
</html>